.rank10wood {
	color: #9dde8b;
}
.rank09bronze {
	color: #cd7f32;
}
.rank08silver {
	color: #c0c0c0;
}
.rank07gold {
	color: #ffd700;
}
.rank06platinum {
	color: #a03aae;
}
.rank03diamond {
	color: #b9f2ff;
}
.rank02master {
	color: #ffffff;
}
.rank01grandmaster {
	color: #d51c5e;
}
