.navigation-container {
  background: rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.navigation-container-inner {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-image {
  width: 400px;
  padding: 10px 0;
  margin-left: 15px;
}

.navigation-container nav {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.navigation-container nav ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

.navigation-container nav ul li {
  display: inline;
  list-style: none;
  position: relative;
}

.navigation-container nav ul li {
  display: inline;
  list-style: none;
  position: relative;
}

.search-icon {
  width: fit-content !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.search-icon-inner {
  display: flex;
  align-items: center;
}

.navigation-container nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.6s ease;
  color: #fff;
}

.navigation-container nav ul li a:hover {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid #585858;
}

.hamburger {
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.bun {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 9px;
  top: 9px;
  transition:
    transform 0.18s cubic-bezier(0.04, 0.04, 0.12, 0.96),
    background-color 0.2s;
}

.bun-crust {
  display: block;
  width: 17px;
  height: 1px;
  background-color: #ffffff;
  border-radius: 1px;
  position: absolute;
  left: 7px;
  transition:
    transform 0.16s cubic-bezier(0.52, 0.16, 0.52, 0.84),
    background-color 0.2s;
}

.bun-crust-top {
  top: 14px;
  transform: translateY(-3px);
}

.bun-crust-bottom {
  bottom: 14px;
  transform: translateY(3px);
}

.hamburger.open .bun-top {
  transform: rotate(45deg);
}

.hamburger.open .bun-bottom {
  transform: rotate(-45deg);
}

.hamburger.open .bun-crust-top,
.hamburger.open .bun-crust-bottom {
  transform: none;
}

@media screen and (max-width: 1224px) {
  .navigation-container {
    position: relative;
  }

  .navigation-container-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-image {
    margin-left: 15px;
    width: 200px;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .navigation-container nav {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .navigation-container nav ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    margin: 0;
    padding: 50px 0 0 0;
  }

  .navigation-container nav ul li {
    width: 100%;
    text-align: center;
  }

  .navigation-container nav ul li a {
    display: block;
    padding: 15px 0;
    border: none;
    font-size: 1.5rem;
    color: white;
  }

  .navigation-container nav.open {
    display: flex;
  }

  .hamburger.open {
    position: fixed;
    top: calc(56px / 2);
    right: 15px;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1225px) {
  .hamburger {
    display: none;
  }
}
